.carousel-container {
  display: flex;
  animation: scroll 30s linear infinite;
  gap: 1rem;
}

.carousel-item {
  flex: 0 0 auto;
  text-align: center;
  min-width: 10%;
}

.carousel-item img {
  width: 100%;
  max-width: 150px;
  border-radius: 8px;
}

/* Animación automática */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Evitar que se rompa en pantallas pequeñas */
.carousel-container:hover {
  animation-play-state: paused; /* Pausa al pasar el mouse */
}
