<body class="home-container">
  <img
    src="pokemon-logo-black-transparent.png"
    alt="Logo"
    class="responsive-img home-image"
  />
  <app-carrusel></app-carrusel>
  <div class="search-and-card">
    <app-search (search)="onSearch($event)"></app-search>

    @if (errorMessage) {
    <div style="color: red; text-align: center">
      {{ errorMessage }}
    </div>
    }

    <app-info-pokemon [pokemon]="pokemon"></app-info-pokemon>
  </div>

  <div style="text-align: center; margin-top: 20px">
    <button (click)="showGuess = !showGuess" class="btn-guess">
      🎯 Guess the Pokémon
    </button>
  </div>

  <!-- Renderizamos el componente Guess si showGuess es true -->
  @if (showGuess) {
  <app-guess></app-guess>
  }
</body>
